@keyframes nav{
  from {
    opacity: 0;
    bottom: 50px;
  }
  to{
    opacity: 1;
    top: 50px;
  }
}

.none{
  display: block;
}

a {
  text-decoration: none;
  display: block;
  color: var(--color);
}
span{
  display: block;
}
